# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
*.log
*.pem

# Local Env Files
.env*.local
.env

# Database
prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite3

# Vercel
.vercel

# System & Build Cache
.DS_Store
Thumbs.db
*.tsbuildinfo

